<!doctype html>
<html ng-app="ui.bootstrap.demo">

 
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="angularscript.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<!--    <link rel="stylesheet" type="text/css" href="css/style.css">
-->

  </head>
  <body>
 
<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>


<div class='container-fluid' ng-controller="JsonInputBestand">


    <h4>CPU</h4>
    <pre>SELECTED CPU:</pre>
    <input type="text" ng-model="selected.cpu" placeholder="Kies je CPU" typeahead="cpu as cpu.Product + ' ' + cpu.Uitvoering for cpu in componentsCPU | filter:$viewValue | limitTo:100" class="form-control">

    <h4>GPU</h4>
    <pre>SELECTED GPU:</pre>
    <input type="text" ng-model="selected.gpu" placeholder="Kies je GPU" typeahead="gpu as gpu.Product + ' ' + gpu.Uitvoering for gpu in componentsGPU | filter:$viewValue | limitTo:100" class="form-control">
	<form action="/Merging/OutputUser.do" method="POST">
	<input type="submit" ng-click="update(selected)" value="Save"  name="Data1" id="Data1">
	</form>
</div>
  </body>
</html>

